.DS_Store
MyStuff.xcodeproj/project.xcworkspace/xcuserdata/oshrilevi.xcuserdatad/UserInterfaceState.xcuserstate
MyStuff/Assets.xcassets/AppIcon.appiconset/AppIcon-1024.png.bak
MyStuff.xcodeproj/project.xcworkspace/xcuserdata/oshrilevi.xcuserdatad/UserInterfaceState.xcuserstate
