<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Oshri's World</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>googlechromes</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>MyStuff uses the camera to take photos of your items when adding or editing them.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.152890086129-fj7jlc3ul23niveue18eanq1do0i1qbl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>152890086129-fj7jlc3ul23niveue18eanq1do0i1qbl.apps.googleusercontent.com</string>
</dict>
</plist>
